.bytecode {
    white-space: pre;
    user-select: initial;

    font-family: "Lucida Console", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    line-height: 1.7;
    font-size: 13px;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 1em;

    overflow-x: hidden;
    overflow-y: auto;
}

.bytecode span::after {
    content: ' ';
}

.comment {
    color: #989898;
}

.id {
    color: #00A0E9;
}

.number, .function {
    color: #E01515;
}

.string {
    color: #60BE29;
}

.type {
    color: #f9a825;
}
