.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container > select {
    margin: 1em;
}

.bytecode {
    height: 100%;
    width: 100%;

    font-family: "Lucida Console", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    line-height: 1.7;
    font-size: 13px;
    user-select: initial;
    white-space: pre;

    padding: 0 1em;
    margin: 0;
    overflow: auto;
}

.comment {
    color: #989898;
}

.id {
    color: #00A0E9;
}

.number, .func {
    color: #E01515;
}

.string {
    color: #60BE29;
}

.type {
    color: #f9a825;
}
