.bytecode {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 16px;

    font-size: 1.2em;
    overflow-x: hidden;
    overflow-y: auto;

    background: rgba(0, 0, 0, 0.78);
    color: rgba(255, 255, 255, 0.8);
}
