.menu {
    position: absolute;
    min-width: 240px;
    overflow: auto;

    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    line-height: 46px;
}

.menu summary {
    padding: 0px 16px 0 28px;
    font-size: 12px;
    line-height: 42px;
    height: 42px;
}

.menu summary:hover, .submenu button:hover {
    background-color: #e7f4fd;
    cursor: pointer;
}

.submenu {
    display: flex;
    flex-direction: column;
}

.submenu button {
    appearance: none;
    font-family: inherit;
    border: none;
    background: none;
    color: inherit;
    text-align: start;

    padding: 0px 16px 0 48px;
    font-size: 12px;
    line-height: 42px;
    height: 42px;
}
