.node {
    min-width: 200px;

    background: #fff;
    border-radius: 2px;
    font-size: 12px;
    border: 1px solid #e9e9e9;

    transition: all .3s;
}

.head {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #e9e9e9;
    padding: 0 24px;
}

.head > h3 {
    font-size: 14px;
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.body {
    padding: 24px 0;

    flex: 1;
    display: flex;
    flex-direction: row;
}

.body > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.outputs > * {
    text-align: right;
}

.pin {
    position: relative;
}

.pin::before {
    content: "";

    height: 8px;
    width: 8px;
    border-radius: 100%;

    background: #fff;
    box-shadow: 0 0 0 1px rgb(217, 217, 217);

    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.pin[data-connected="true"]::before {
    background-color: #666;
}

.outputs .pin {
    padding-right: 12px;
}

.outputs .pin::before {
    right: -4px;
}

.inputs .pin {
    padding-left: 12px;
}

.inputs .pin::before {
    left: -4px;
}
